html {
  background-image: url("https://wallpapercave.com/wp/wp1930112.jpg");
  background-repeat: repeat;
  background-color: inherit;
  background-size: cover;
  font-display: auto;
  text-decoration: inherit;
}

body {
  line-height: 40px;
  background-size: cover;
  text-decoration-color: violet;
}

h1 {
  font-weight: bolder;
  text-align: center;
  color: #000000;
  text-decoration-line: underline;
  background-color: inherit;
}

.introduction {
  font-size: 20px;
  width: 500px;
  line-height: 3.0;
  text-indent: inherit;
  font-weight: bold;
  font-family: monospace;
}

.application{
  border: 5px solid purple;
  padding: 4px;
  background-color: yellow;

}
h4{
  font-weight: bolder;
  text-align: center;
  color: inherit;
  text-decoration-style:dotted;
}

.triangles {
  background-color: white;
  background-blend-mode: lighten;
}
