html {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSPHla1C52QUV-sm-Vq81LZZtmrOyRYUGyh4Rlb-X0ZhUWllot);
  background-repeat: repeat;
  background-color: inherit;
  background-size: auto;
  font-display: auto;
  text-decoration: inherit;
}

body {
  line-height: 40px;
  background-size: cover;
  text-decoration-color: violet;
}

h1 {
  font-weight: bolder;
  text-align: center;
  color: #000000;
}

.introduction {
  font-size: 20px;
  width: 500px;
  line-height: 3.0;
  text-indent: inherit;
  font-weight: bold;
  font-family: monospace;
}

.application{
  border: 2px solid purple;
  padding: 4px;
  margin: 10px;
  width: 500px;
  background-color: inherit;
  font-size: 20px
  font-weight:bold;
  line-height: 3.5;
}
